@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

header h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
}

header p {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    color: grey;
}

#wallet {
    margin-top: 5px;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
}

#portfolio {
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
}

.crypto-cards-container {
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.crypto-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.curr-amount {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
}

.name {
    font-weight: 600;
}

.change {
    font-size: 14px;
    font-weight: 600;
    color: rgb(80, 80, 80);
}

.dialogbox-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

.dialogbox {
    border: 2px solid red;
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 3px 3px 10px 3px hwb(0 0% 100% / 0.256);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 7px;
}

.dialogbox .title {
    background-color: rgb(80, 77, 77);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.amt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amt-container input {
    width: 30%;
}