@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

button {
    cursor: pointer;
}




.container {
    background-image: url("./bull.jpg");
    background-color: rgba(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
}

header p {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 145, 42);
}

#wallet {
    margin-top: 5px;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
}

#portfolio {
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
}

.crypto-cards-container {
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.crypto-card {
 
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

}

.curr-amount {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
}

.name {
    font-weight: 600;
}

.change {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.dialogbox-container, .dialogbox2-container {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buy-button,
.sell-button {
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.5px;
    color: white;
    font-weight: 600;
}

.buy-button {
    background-color: rgba(126, 126, 126, 0.9);
}

.sell-button {
    background-color: rgba(0, 216, 0, 0.9);
}

.bottom-container {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-container h3 {
    margin: 30px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    width: 150px;
    padding: 10px;
    border-radius: 60px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);

}

.transaction-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.left-bar {
    width: 7px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.tc-1,
.hc-1 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.tc-2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.tc-3 {
    font-size: 13px;
    font-weight: 600;
}

.holding-card {

    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.hc-2,
.hc-3 {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.hc-4 {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}